.cardFindFAQ {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to top left, #1767F1, #CA0CF2,  #D74D29, #F8C129) border-box;
    border: 1px solid transparent;
}