.event-card {
    background-color: transparent;
    width: 15rem;
    border: 0px;
    max-height: 300px;
    
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
    /* box-shadow: rgba(40, 35, 59, 0.19) 0px 10px 20px, rgba(82, 52, 83, 0.23) 0px 6px 6px !important; */
}

.event-card-image {
    border-radius: 0px 0px 0px 0px;
    border: 0px;
    height: 131px;
}

.event-card-title {
    font-size: small;
    font-weight: 400;
    overflow: hidden;
}

.event-card-price {
    font-size: large;
    font-weight: 400;
    background: -webkit-linear-gradient(top left,#1767F1, #CA0CF2, #D74D29, #F8C129);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event-card-header {
    background-color: transparent;
    font-size: medium;
    font-weight: 600;
}

.event-card-promotor-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: scale-down;
    border: 1px solid whitesmoke;
}

.event-card-date {
    top: 162px;
    width: 60%;
    background-color: #1767F1;
    padding-left: 15%;
    border-radius: 0px 10px 10px 0px;
    font-size: small;
}

.event-card-body {
    padding-top: 11%;
}

.event-card-promotor-text {
    font-size: small;
}