.detailTrx{
    background: transparent;
}

.detailTrxHead {
    /* background-color: white; */
    font-weight: bold;
}

.detailTrxImg {
    border-radius: 15px 15px 15px 15px;
    border: 0px;
    height: 300px;
    width: 100%;
    object-fit: fill;
}

.detailTrxQR {
    border-radius: 15px 15px 15px 15px;
    border: 0px;
    width: 100%;
}

.detailTrxCol {
    /* border-right :1px solid;
    border-image: linear-gradient(to bottom, #1767F1, #CA0CF2, #D74D29, #F8C129) 1 100%; */
    border-right: 2px solid;
    border-image: linear-gradient(to bottom,  #1767F1, #CA0CF2)1 100%;
}

.detailTrxSmallDiv {
    /* border-bottom :1px solid;
    border-image: linear-gradient(#1767F1, #CA0CF2, #D74D29, #F8C129) 1 100%; */
    border-bottom: 2px solid;
    border-image-slice:1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #1767F1, #CA0CF2);

}

.detailTrxEvent {
    font-weight: bolder;
}

.detailTrxCircle {
    width: 25px;
    height: 25px;
}

.detailTrxText {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: medium;
}

.detailTrxTextClick {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    color: #1767F1;
}

.detailTrxTextClick:hover {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    background: linear-gradient(to top left, #1767F1, #CA0CF2, #D74D29, #F8C129);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.detailTrxText2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: medium;
}