.card-create-event{
    /* background: #0c0c14; */
    background: transparent;
    /* color: whitesmoke; */
}

.form-select-style{
    border: 2px solid;
    border-radius: .5em;
    border-color: rgb(226, 226, 226);
    background: transparent;
    color: rgb(127, 125, 138);
}

.create-event-upload-image {
    background: #0C0C14;
    width: 100%;
    height: 300px;
    opacity: 0%;
    position: relative;;
    z-index: 1;
}

.create-event-image {
    border-radius: 15px 15px 15px 15px;
    height: 300px;
    position: absolute;
    z-index: 0;
}

.create-event-button:hover {
    background-color: rgba(255, 255, 255, 0);
    background: linear-gradient(#0c0c14, #0c0c14) padding-box,
    linear-gradient(to top left, #1767F1, #CA0CF2,  #D74D29, #F8C129) border-box;
    border: 2px solid transparent;
}

.create-event-button {
    background-color: rgb(190, 190, 190);
    background: linear-gradient(#0c0c14, #0c0c14) padding-box,
    rgb(190, 190, 190) border-box;
    border: 2px solid transparent;
    font-weight: bolder;
}

.form-control-create-event{
    background: transparent;

    /* border-bottom: 2px solid;
    border-image-slice:1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #1767F1, #CA0CF2); */
    
    border: 2px solid;
    border-radius: .5em;
    /* border-image-slice: 1; */
    border-color: rgb(226, 226, 226);

    color: whitesmoke;
    padding-left: 2.375rem;
    width: 100%;
}