.card-create-ticket{
    background:transparent;
    color: whitesmoke
}

.create-ticket-button {
    background-color: transparent !important;
    border-color: transparent !important;;
}

.createTicketSmallText {
    font-size: smaller;
    color: whitesmoke;
}

.createTicketNFT {
    color: whitesmoke;
    border-radius: 15px 15px 15px 15px;
    height: 180px;
    max-width: 260px;
    position: absolute;
    z-index: 0;
}

.card-create-ticket-nft{
    /* border: 2px solid;
    border-image: linear-gradient(120deg,  #7d7e80, #c7c7c7)1 100%; */
    color: whitesmoke;
    border-radius: .5em;
    background:transparent;
    border: 2px solid;
    border-image-slice:1;
    border-width: 2px;
    border-image-source: linear-gradient(120deg,  #7d7e80, #c7c7c7)1 100%;
}