.nav{
    /* background-color: greenyellow !important; */
    border-bottom: none !important;
}

.nav-link {
    background-color: transparent !important;
    color: #fafafa !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px transparent !important;
  }
  
  .nav-tabs .nav-link.active {
    /* background-color: rgba(0, 0, 0, 0.0); */
    /* padding-bottom: 5px !important; */
    background: linear-gradient(120deg, #1767F1, #CA0CF2, #D74D29, #F8C129) left bottom no-repeat !important;
    background-size: 100% 5px !important;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border-bottom: 3px solid transparent !important;
    
    /* border-image: #F8C129 !important;
    border-image-slice: 1 !important; */
    /* border-bottom: linear-gradient(#0C0C14, #0C0C14) padding-box,
    linear-gradient(to top left, #1767F1, #CA0CF2, #D74D29, #F8C129) border-box !important; */
    
  }