.chooseTicketText {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
}

.chooseTicketSmallDiv {
    max-width: 500px;
}


.paymentCard {
    font-size: large;
}

.detail-card{
    background: transparent;
}