/* @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Outfit&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Anton'); */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
@font-face {
  font-family: 'Outfit';
  font-weight: 900;
  src: local('Outfit'), url(./fonts/Outfit-Black.ttf) format('truetype');
}

body {
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Darumadrop One', cursive;
   */
  /* font-family: Outfit, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: aqua;
}

code {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Outfit', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}
